@page "/inventory"
@using PharmaTrack.PWA.Helpers
@using PharmaTrack.Core.DTOs;
@using PharmaTrack.Core.DBModels;
@inject InventoryService InventoryService;
@inject DrugService DrugService;
@attribute [Authorize]

<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />
<Modal @ref="updateProductModal" Size="ModalSize.Large" UseStaticBackdrop=true />
<div class="row">
    <div class="col-6">
        <div class="row mb-1">
            <div class="col-4">
                <button class="btn-sm btn btn-secondary bi bi-chevron-left @GetPrevBtnStatus()" @onclick="LoadPrevPageAsync"></button>
                <button class="btn-sm btn btn-secondary bi bi-chevron-right @GetNextBtnStatus()" @onclick="LoadNextPageAsync"></button>
                <small>@GetShowingText()</small>
            </div>
            <div class="col-8 d-flex align-items-center justify-content-end gap-2">
                <div class="input-group input-group-sm">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" @bind="SearchTerm" @bind:event="oninput" />
                </div>
            </div>
        </div>

        <table class="table table-sm table-hover" style="width: 100%">
            <thead>
                <tr>
                    <th scope="col" style="width: 50px;">ID</th>
                    <th scope="col">Product</th>
                    <th scope="col">Codes</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Dates</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 10; i++)
                {
                    <tr class="placeholder-glow @GetLoadingStatus()">
                        <td>
                            <div class="placeholder col-12"></div>
                        </td>
                        <td>
                            <div class="placeholder col-12"></div>
                        </td>
                        <td>
                            <div class="placeholder col-12"></div>
                        </td>
                        <td>
                            <div class="placeholder col-12"></div>
                        </td>
                        <td>
                            <div class="placeholder col-12"></div>
                        </td>
                    </tr>
                }
                @if (response != null)
                {
                    @foreach (var product in response.Data)
                    {
                        <tr class="small @GetDataStatus()" @onclick="async () => await LoadProductDetails(product.Id)">
                            <th scope="row" class="text-center">
                                @product.Id
                            </th>
                            <td>
                                <span>
                                    @product.Name (@product.Brand) 
                                </span>
                                <span 
                                    class="fst-italic text-info text-decoration-underline d-block"
                                    @onclick="async () => await OnShowUpdateProductModalClick(product.Id)"
                                    role="button">
                                    See details<i class="ms-1 bi bi-box-arrow-up-right"></i>
                                </span>
                            </td>
                            <td>
                                <span class="d-block">
                                    <strong>DIN:</strong> @product.DIN
                                </span>
                                <span class="d-block">
                                    <strong>NPN:</strong> @product.NPN
                                </span>
                                <span class="d-block">
                                    <strong>UPC:</strong> @product.UPC
                                </span>
                            </td>
                            <td>
                                <span class="d-block">
                                    @product.Quantity
                                </span>
                            </td>
                            <td>
                                <span class="d-block">
                                    <strong>Created At:</strong> @product.CreatedAt
                                </span>
                                <span class="d-block">
                                    <strong>Last Updated:</strong> @product.UpdatedAt
                                </span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <StockTransferComponent 
            @ref="stockTransferComponent"
            OnSaved="async () => await LoadProducts()"
            OnReset="HandleReset"
            OnUPCSearch="HandleUPCSearch" />
        <hr />
        @if (isLoadingProductDetails)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        } else
        {
            @if (drugInfo != null)
            {
                <DrugInfoComponent drugInfo="drugInfo" />
            }
        }
    </div>
</div>

@code {
    private Modal updateProductModal = default!;

    private string searchTerm = string.Empty;
    private CancellationTokenSource? _debounceCts;
    private int curPage = 1;
    private int totalPageCount = 1;
    private int totalItemCount = 1;
    private PagedResponse<Product>? response;
    private DrugInfoDto? drugInfo;
    private Product? Product;

    private bool isLoadingProducts = false;
    private bool isLoadingProductDetails = false;

    private StockTransferComponent stockTransferComponent = default!;


    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    public string SearchTerm
    {
        get => searchTerm;
        set
        {
            if (searchTerm == value) return;
            searchTerm = value;

            // cancel any pending invocation
            _debounceCts?.Cancel();
            _debounceCts = new CancellationTokenSource();
            var token = _debounceCts.Token;

            // Kick off a delayed LoadDrugs; if 'SearchTerm' changes again within 300 ms, this run is cancelled.
            _ = InvokeAsync(async () =>
            {
                try
                {
                    await Task.Delay(300, token);
                    if (token.IsCancellationRequested) return;

                    await LoadProducts();
                }
                catch (TaskCanceledException)
                {
                    // ignore; a new keystroke arrived
                }
                finally
                {
                    if (!token.IsCancellationRequested)
                    {
                        isLoadingProducts = false;
                        StateHasChanged();         // render results
                    }
                }
            });
        }
    }

    private void SetProductDetailsOnStockTransfer()
    {
        if (Product != null)
        {
            stockTransferComponent.eventModel.UPC = Product.UPC;
            stockTransferComponent.eventModel.NPN = Product.NPN;
            stockTransferComponent.eventModel.DIN = Product.DIN;
            stockTransferComponent.eventModel.Name = Product.Name;
            stockTransferComponent.eventModel.Brand = Product.Brand;
        }
    }

    private async Task LoadProductDetails(int id)
    {
        try
        {
            isLoadingProductDetails = true;
            StateHasChanged();

            Product = await InventoryService.GetProductByIdAsync(id);

            SetProductDetailsOnStockTransfer();

            if (!string.IsNullOrEmpty(Product?.DIN))
            {
                drugInfo = await DrugService.GetDrugInfoByDINAsync(Product.DIN);
            } else
            {
                HandleReset();
            }
        }
        catch (Exception ex)
        {
            messages.Add(ToastForError(ex.Message));
        }
        finally
        {
            isLoadingProductDetails = false;
            StateHasChanged();
        }
    }

    private async Task LoadDrugInfoAsync(int drugCode)
    {
        try
        {
            isLoadingProductDetails = true;
            StateHasChanged();
            drugInfo = await DrugService.GetDrugInfoByDrugCodeAsync(drugCode);
        }
        catch (Exception ex)
        {
            messages.Add(ToastForError(ex.Message));
        } finally
        {
            isLoadingProductDetails = false;
            StateHasChanged();
        }
    }

    private async Task LoadProducts()
    {
        isLoadingProducts = true;
        StateHasChanged();

        try
        {
            response = await InventoryService.GetProductsAsync(searchTerm, curPage);
            if (response != null)
            {
                totalItemCount = response.TotalItemCount;
                totalPageCount = response.TotalPageCount;
            }

        }
        catch (Exception ex)
        {
            messages.Add(ToastForError($"ERROR: {ex.Message}"));
        }
        finally
        {
            isLoadingProducts = false;
            StateHasChanged();
        }
    }

    private async Task LoadNextPageAsync()
    {
        curPage++;
        await LoadProducts();
    }

    private async Task LoadPrevPageAsync()
    {
        curPage--;
        await LoadProducts();
    }

    private string GetShowingText()
    {
        int start = (curPage - 1) * 10 + 1;
        int end = Math.Min(curPage * 10, totalItemCount);
        return $"Showing {start}–{end} of {totalItemCount}";
    }

    private string GetPrevBtnStatus() => curPage == 1 ? "disabled" : string.Empty;
    private string GetNextBtnStatus() => curPage == totalPageCount ? "disabled" : string.Empty;

    private string GetLoadingStatus() => isLoadingProducts ? "" : "d-none";
    private string GetDataStatus() => isLoadingProducts ? "d-none" : "";

    private async Task HandleUPCSearch(Product product)
    {
        SearchTerm = product.UPC;

        if (!string.IsNullOrEmpty(product.DIN))
        {
            drugInfo = await DrugService.GetDrugInfoByDINAsync(product.DIN);
        }
    }

    private void HandleReset()
    {
        SearchTerm = string.Empty;
        Product = null;
        drugInfo = null;
        StateHasChanged();
    }

    List<ToastMessage> messages = new List<ToastMessage>();

    private ToastMessage ToastForInfo(string message)
    => new ToastMessage
    {
        Type = ToastType.Info,
        Message = message,
    };

    private ToastMessage ToastForSuccess(string message)
    => new ToastMessage
    {
        Type = ToastType.Success,
        Message = message,
    };

    private ToastMessage ToastForWarning(string message)
    => new ToastMessage
    {
        Type = ToastType.Warning,
        Message = message,
    };

    private ToastMessage ToastForError(string message)
    => new ToastMessage
    {
        Type = ToastType.Danger,
        Message = $"An Error Occurred: {message}",
    };

    private async Task OnShowUpdateProductModalClick(int ProductId)
    {
        var parameters = new Dictionary<string, object>
        {
            { "OnCloseCallback", EventCallback.Factory.Create<MouseEventArgs>(this, OnCloseCallback) },
            { "OnSaveCallback", EventCallback.Factory.Create<MouseEventArgs>(this, OnSaveCallback) },
            { "ProductId", ProductId }
        };
        await updateProductModal.ShowAsync<UpdateProductModal>(title: "Update Product", parameters: parameters);

    }

    private async Task OnSaveCallback(MouseEventArgs e)
    {
        messages.Add(ToastForSuccess("Product updated successfully."));
        await LoadProducts();
        await updateProductModal.HideAsync();
    }

    private async Task OnCloseCallback(MouseEventArgs e)
    {
        await updateProductModal.HideAsync();
    }
}
